writeup/paper.synctex.gz
writeup/paper.log
writeup/paper.bbl
writeup/paper.blg
writeup/paper.aux
writeup/paper.pdf
data/.DS_Store
data/country-language-pairings/.DS_Store



writeup/counts.aux

writeup/dict-tables.aux

writeup/dict-tables.log

writeup/dict-tables.pdf

writeup/dict-tables.synctex.gz

writeup/fullcount.aux

writeup/fullqual.aux

writeup/qual.aux

writeup/fullturkers.aux

writeup/naaclhlt2012.bst

writeup/timetable.aux

writeup/turkerqual.aux

writeup/paper.synctex.gz(busy)

writeup/summary.aux

data/raw/*

*.log

writeup/fullturkers.synctex.gz

*.aux

*.bbl

*.blg

writeup/reviewer-response/reviewer-response.synctex.gz

writeup/version1/paper.synctex.gz

writeup/revision 1/paper.synctex.gz
