
*.log

writeup/paper.synctex.gz

writeup/paper.log

writeup/paper.bbl

writeup/paper.blg

writeup/paper.aux

writeup/paper.pdf

data/.DS_Store

data/country-language-pairings/.DS_Store

*.aux

*.log

writeup/paper.synctex.gz

*.log

*.aux

*.log

*.aux

*.aux

*.log

writeup/paper.log

writeup/paper.aux
