బల్లకట్టు	flat boat used cross a small canal,woodwork,wooden barge,pontoon,ballakatu,pont,ferry
ధమని	arterial,vessel,side,aorta,artery
శకునం	omen( may be ill or good),omen
నీడ	shadow
వ్యాధి	diseease,disease
సిద్ధాంతము	theory,sidhdhantam,thoerem,sidhantamu,principle,theorem
గురుడు	saturn,jupiter(planet),jupiter,teacher
విద్యుత్తు	electricity,current,electric
డ్రోసిరా	drosera
సంచి	bag,bad
పడమర	west
విశ్రాంతి	rest
జైగోమైకోటా	jaigomaikota,jigomikota (one type of stone),gygomyte,zygomycota,jagomites(fungi)
చక్కెర	sugar
సీసియం	caesium
దూరదృష్టి	long sight/ hyperopia,hyperopia,long site,hypermetropia,long-sight( as a defect of eye),;ongsight
పేను	lice,louse
వివృతబీజాలు	gymnosperms
భూకంపం	earth quake,earthquake,earth-quake
వేప	neem
ఆకలి	akali,aakali,hunger
సహస్రపాదులు	long animal,millepede,gigas,millipede,archispirostreptus gigas, the giant african millipede
హాలోవీన్	halloweén,hallowe'en,halloween,one of the festival,haoolween
ఉపనిషత్తు	upanishathulu,upanishaths,upanishat,upnishads,upanishads,upanishad,philosophical disquisition,doctrine,upanishath
సహనం	sahanam,patience,brave,tolerance,silent
బాణం	baanam,arrow,bow arrow
సపోటా	a sweet fruit,sappotta,sapodilla,chikku
రూటేసి	rutacease,rutaceae
ఎన్నికలు	elelctions,elections
చిట్టెలుక	small rat,rat,mouse or mice,mouse,mice
గుహ	cave,caves
ఐపాడ్	ipad,ipod
అనుత్రికము	tailbone,coccyx
పన్ను	teeth,tax,tooth
అమరాంథేసి	amaranthaceae,amaranthaseae,spinach
ఎయిడ్స్	aids,eids
ట్రకోమా	rough eye,trakoma,trachoma
వర్గీకరణ	categorisation,division,classification,classification,categorisation
గుండెదడ	heart beat,palpitation,abnormally heart beat
తల	head
మూగతనం	dumbness,dumb,dum aor dumbnesssq
మంజిష్ఠ	madder,name of a herb rubia,indian madder,mangista
కపాలం	head,skull
బెరడు	the bark of a tree,bark
అగ్గిపుల్ల	matchstick,match stick,match,match stich
కీలు	joint
పిరమిడ్	piramid,pyramid
సిలికాన్	silicon
చతుర్భుజి	quadrilaterl,square, quadrilateral,quadrilateral
స్కాండియం	scandium
హైడ్రోజన్	hydrogen
లామియేసి	lamiaceae
ప్లాటీహెల్మింథిస్	platihelminthes,platyhelimenthis,platihelminthis
తులాదండము	weight meter,balncing rod,libra,balancing rod,simple balance,lever,balance,weigh balance
రూబియేసి	rubiaceae
క్లోమము	pancreas
తొక్కిసలాట	stampede
అగ్రచర్వణకాలు	premolar,agracharvanakaalu,premolars
చొక్కా	choka,shirt
మూసేసి	musaceae
మొలస్కా	mollusca
శాసనం	epigraphy,inscription,act, inscription
కివి	kiwi,kivi
డైవర్టిక్యులైటిస్	diverticulites,diverticulitice,diverticulitis
త్రిమూర్తులు	tri,tirumoorthy,trio,thrimurhti,three people,three members,three gods,trinity,trimurthi
గాబ్రో	a kind of rock,gabro,basalt,gabbro
శిలాజాలు	fossils,fossil
ముఖం	1. face 2. means of,face
ఆల్డిహైడు	aldihide,aldihidu,aldehyde
జీర్ణకోశం	digestive system,stomach
సెంటీమీటరు	centiemeter,centi metre,sentimeter,centimeters,centimeter,centimetre
హెరాక్లిటస్	heraclitus (its a theories),heraclitus,heraclitus [ name of greek scientist]
గరిక	gross,garika,tender green grass,grass strand,small grass,grass
గచ్చ	caesalpinia crista,leaf,a thorny plant,caesalpinia,pebble,gacha,bunch
ఢాకా	dhaka,daka (capital of bangladesh)
పిచ్చుక	sparrow
సంధ్యాసమయం	early morning,evening,evening(sunset),dusk,sunset,evening time
అకాంథేసి	acantaceae,one of the family of flowers,acanthaceae
జానుఫలకము	jaanuphalakamu,jenetics,patella,patella (its a round shape bone),knee,knee cap/ patella
అనెలిడా	persons name,annelida
ప్లవకాలు	planks,planktons
వజ్రం	diamond,dimond,vajaram
యుట్రిక్యులేరియా	utricularia,uticularia
మరువము	marjoram,aromatic stem
హనువు	mandible,thumb
మణికట్టు	wrist,manikatu
కైమోగ్రాఫ్	health device,century,invented,kymograph
ఎడినోమా	edinoma,adenoma
నాసా	nasa
త్రికము	sarcum,sacrum
దుంప	bulbous root,dhumpa,tubour,shrub,potato,potatoes,tuber,edible tuber,stem tubers (potato, carrot etc..),root based vegetable,tuberous,root,tubers,rhizome
ర్యాగింగ్	raging,ragging,eve teasing
సాలెపురుగు	spider
శివుడు	name of a diety,sivudu (the hindu god),god siva,shivudu,shiva,lord siva,lord shiva,siva
జకాత్	jacath,not a telugu word,zakat,jakaat,jakaath,arabic language,donation,jakath,charity,zakhat
అలుగు	pangolin,pangolian
కోబాల్	cobol
మజ్జిగ	butter milk (curd is diluted with water and churned),buttermilk,curd,butter milk
పొదుపు	net income,savings,save,saving,to reduce
పొద	bush,shrub
జింజిబరేసి	zingiberaceae,plant,zingiberaceac
దేవుడు	god,the god,god almighty
ఘనపరిమాణము	volume
తగరము	tin
పంజరం	cage,enclosure,prison
బొప్పాయి	papaya fruit,papaya,papaya (it is is fruit)
ద్వీపం	island,dweepam,islands
పట్టాభిషేకం	pattabhishekam,coronation
వరకట్నం	dowry,bribe
గంధకము	sulphur,sulpher
ఫాబేసి	pabese,fabaceae,phabesy,phabecy
మహారాజు	king,maharaja,great king
ప్రోటిస్టా	protista
తుమ్మెద	bumble bee,bee,humble bee
కాలువ	canal
ఉలేమా	ulema(like philosopher),ulema, person who gives fatwas,ulema
విక్టోరియా	victroria,victoria
నెమలి	peacock,nemali
కూతురు	doughter,daughter
సూక్ష్మదర్శిని	microscope,lense,sukshmadarshini
పిల్లలు	children,childrens
వినాయకుడు	vinayak (people in india worship him),ganesha,vinaayakudu,vinayakudu(lord ganesha),vinayak,ganesh,vinayaka,lord ganesh,vinayakudu
పక్షి	bird
ఆదాము	soil men,adam
విబ్రియో	vibrio,vibrio (it is a bacteria),"vibrio"a kind of bacteria,vibrio (latin)
మలేరియా	maleria,malaria
ఖడ్గం	sword
త్రిభుజం	triangle
భారమితి	barometer
మోరేసి	moraceae,moresy
వడదెబ్బ	sun stroke/ heat stroke,wadadebba,heat stroke,sun stroke/heat stroke
ఆర్థ్రోపోడా	arthropoda,arthoropod
వైటేసి	vitacease,vitaceae
ఉపరితలం	upper layer,upper surface,top,north,surface
ఆహారం	food,aahaaram
బాక్టీరియా	bactiria,bacteria
నిడేరియా	cnideria,cnidaria
మూత్రనాళం	kidney stones,rectus,urinary tract,ureter,urine stream,muthranaalam,uterus,urinary track,urine place,urethra,urinery
సైకస్	cycas
అరత్ని	ulna,elbow bone,arathini,aratni
పచ్చకామెర్లు	jandice,jaundice
ఇంగువ	asafoetida (used in cooking),inguvaq,asafoetida
ఆర్కిమెడిస్	arikmedics,archimedes,archemedies,archimedis,arcmedice,archemedes,archemedis,archamaeidis
కేరియోటైప్	kaereotype,keriotype,caryotype,cario type,careotype,karyotype,keriyotype
చిత్రమూలము	plumbago,a plant,picture source,root,plumbago zeylancia,chitramoolam,root cause of movie,in pictures,chitramulamu,ceylon leadwort
మోనజైట్	monazite,ores (one type of ore)
మహమ్మారి	a communal disease that spreads very fast,evil,epidemic
హృదయావరణం	veins,percardium,pericardium,peicardium
ఉదరము	stomach,abdomen,udhayamu,abdomen or stomach,belly,udaram
నెపెంథిస్	nepanthis,nepenthes
మోదుగ	a flower tree,bastard teak,modugu tree,pubha,moduga,butca frondosa,red flower tree,erythrina indica
రంగు	color,colour
ధ్వని	sound
గట్టిఫెరె	guttiferae,gatifere,gaddi ferra,gattiferr,gattifere
వైరస్	virus
హోమర్	homer,homer (person name)
కార్డేటా	cyst [ bag containing liquid in this context],chordata(one group of animals),chords,cardata,chordata,cartete
సెలీనియం	a kind of chemical,selenium,seleanium
వేదాంగములు	vedas,six vedas,slokas,parts of a satirical work,organs of vedas,parts of veda,sciences dependant on vedas
చీపురు	sweeper,household thing used to clean the rooms,broom,broom stick,sweeping tool,cheepuru,broomstick
నుదురు	forehead
సత్యాగ్రహం	satya graha,fasting,fight for truth,march,war for truth,war for the truth,insistence on truth,sthyagrah,nonviolent resistance,satyagraha
ఈ-మెయిల్	electronic mail,e-mail,e mail,email,e- mail
సముద్రం	samudram,sea
ఉరుము	thunder
క్రోకడైలస్	crocodiles,crocodylus,crocadilus,crocadilas,crocodilus
నొప్పి	noppi,pain
జింక	jinka,deer,antelope
శని	god, planet, saturday,sturn,saturn,saturn planet,saturday,sani
జంతువు	jenthuvlu,animals,animal
అంబెల్లిఫెరె	ambelifere,umbelliferae,ambellipher,ambellifere
రచయిత	a writer,writer,author
యూక్లిడ్	euclid
సపోటేసి	sapotaceae,sapotaceae (one type of team)
శుక్రుడు	venus,saturn
గౌటు	gout,gout (metabolic arthritis)
లకుముకి	kingfisher,kingfisher (bird),king fisher
అంకారా	ankara,capital city of turkey,ankara (turkish)
ఆల్చిప్ప	shell,bivalve,mollusca,pearl oyster,pearl,bivalvia
అలోహం	non metal,nonmetal
వెన్నుపూస	back-bone,vertebral column,backbone,spinal cord,vetebrae,vertebrae,vertbrae
వ్యోమగామి	astronomist,astonaut,astronaut,vyomagami
గురుత్వాకర్షణ	law of attraction,gravitational filed,attractive power,gravitational,gravity,attraction,gravitation,magetism,gravitational force
వెర్బినేసి	verbanese,verbunaceae,verbenaceae
లాభం	profit,gain
పాదరక్షలు	chappals,footware,footwear
తిత్తి	cyst,bag with any liquid
త్వరణము	accleration,acceleration,speed rate,accelaration,twaranam
బుగ్గ	cheek,cheeks
నది	river,lake,sea
ఎండ్రకాయ	lobster,crab
సరీసృపాలు	reptiles,sareesrupaalu
శతపాదులు	centipedes,centipede,animals,animals,worldwide,humans,harm
చీమ	ant
ఆయత్	aayat,ayat,ayath,singular
ఉష్ణోగ్రత	temparature,ushnograta,temperature
యోని	uterus,virgin,vagina,yoni,vulva
కాలేయం	glands,abdomen,liver
అంగిలి	angali,palate
ధనుర్వాతము	danurvatam (kind of disease),tetanus,disease
సాంద్రత	density
ఉరోస్థి	sternum
ప్లీహము	spleen
మేఘం	clouds,sky,cloud
చెమట	sweat,swet
జడ	braid,plait,braid or plait,jada
వ్యవసాయదారుడు	vyavasaayadaarudu,agriculture,farmers,agriculturist, farmer,farmer
కాగితం	paper,papeer
గాయం	injury
కెంపు	kempu,kemp stone,ruby
సిమెంటు	cement
ప్లంబజినేసి	plumbijanesi,plumbaganese,plumbaginaceae,plumbaginaceae ( a small group of caryophyllid flowering plants )
గిట్ట	palm,hoof,hoofs,leg
