утрау	,of
бакы	i have no answer,excitement,
гомер	not,i have no answer,greater,bigger,big
суматра	specialists
каракалпаклар	,closed
термодинамика	respectively
лавразия	ai,,the
кошлар	,not,region
фонетика	none,no
умырткалылар	not,them,by him,i do not know,him
фән	intentionaly,i have no answer,consciously,knowingly
диңгез	region,i do not know
