బల్లకట్టు	,tablecot,correspond,attaching,planks tied to empty drums so as to float on water,boat
ధమని	a,,right,transportation,picture,framed,horizontal,passage,vein
శకునం	sakunam,sign,respondents,examined,questioned,occasion,symptom
నీడ	about
వ్యాధి	decease,proposition,disesase,suggestion,supply
సిద్ధాంతము	siddantham,higher
గురుడు	regiment,means a teacher but used mostly to refer planet jupiter(astrology),jupitor,juiter
విద్యుత్తు	vidyutu,bright,cepoba
డ్రోసిరా	,drodira,shooting
సంచి	base
పడమర	federal,wesst
విశ్రాంతి	contributes to,rest or leisure,contributes,rest of leisure
జైగోమైకోటా	,states,hero
చక్కెర	lived,suger
సీసియం	,got,caught,fell
దూరదృష్టి	,longsight,buses,long sight
పేను	security
వివృతబీజాలు	,federal,differnt kinds of
భూకంపం	,earthquick,dna
వేప	representation,mission
ఆకలి	life,hungry
సహస్రపాదులు	,centipede,animals,armenian,mallipede
హాలోవీన్	,may,can
ఉపనిషత్తు	,vedas,useful,played,ther piarity,hindu philosophical texts,upanishad (sitting down near)
సహనం	endurance,civilization,adventure
బాణం	popular
సపోటా	,sapota,lakes,sapolilla,sappota fruit
రూటేసి	,ritaceae,phenomen,appearance
ఎన్నికలు	entities,companies,enterprises
చిట్టెలుక	called
గుహ	genres,henry
ఐపాడ్	,blackmore
అనుత్రికము	,same,anutrikam,coccys,coccyx or tailbone,day
పన్ను	services,float,share
అమరాంథేసి	,open,public
ఎయిడ్స్	,days
ట్రకోమా	,authors
వర్గీకరణ	frequencies,classficaiton
గుండెదడ	,early,heart beating, palpitation
తల	hed,popular,national,traditional
మూగతనం	scratch,zero,dumb or dumbness
మంజిష్ఠ	,manjista (one of the medicinal plant),an medicinal plant,mangesta,manjishtha,manjista,hospital,hospitals,rubia cordifolia
కపాలం	,names
బెరడు	,expressed
అగ్గిపుల్ల	,damage,ahyca
కీలు	joints,parents,knee
పిరమిడ్	,premid,statement,declaration
సిలికాన్	,found,cleared
చతుర్భుజి	considered,square
స్కాండియం	,rock n roll,scanium,sandium,rock 'n roll,rock'n'roll
హైడ్రోజన్	,fields,field,hydrojen,hydrozen
లామియేసి	,lamacease,relations,lamiaceae (plant species)
ప్లాటీహెల్మింథిస్	,kiev,group : platyhelminthes,platihelminthes (type of worms),kievskii,platyhelminthes
తులాదండము	,measuring devise,metropolitan,scales,subway,taras,thumb
రూబియేసి	,revolutionary,rubaceae,rubiacae,rubiac,one of the family in flowers,rubiceae
క్లోమము	,visible,public
తొక్కిసలాట	property,quality,particularity
అగ్రచర్వణకాలు	,passed,retreated
చొక్కా	political
మూసేసి	,closes,zero
మొలస్కా	tender,,nation
శాసనం	edict,ministry,referendum,rule,agreement,commandment,regulation,epigraphy/inscription,order
కివి	,poet,a flightless bird,political
డైవర్టిక్యులైటిస్	,dyvartikulitis,civilizations,civilization,diverticulatis
త్రిమూర్తులు	,a third, one third,third,triumvirate of important hindu gods-brahma,vishnu and maheswara,trinitry,three main gods in hindu religion,thrimurthulu,trimoorthy,triumvirate of brahma,vishnu and siva in the hindu pantheon,trimurthis
గాబ్రో	,gobro,one third, third,magma,gaabro,one third
శిలాజాలు	,fossi,shilaajaalu,political
ముఖం	moved,passed
ఆల్డిహైడు	,living,habitable
జీర్ణకోశం	accounting,nonmetering,stoach,census
సెంటీమీటరు	,chordata [ last variety of animals of 30 varieties],fundamental
హెరాక్లిటస్	,implements,heraktitas,provides
గరిక	,federal,girika,agrostis linearis,grass straw,green grass,garikla,a kind of grass called agrostis linearis.
గచ్చ	,plants,ceasalpinia crista,quality,medicine plant
ఢాకా	,phenomena,events
పిచ్చుక	pichchuka,it
సంధ్యాసమయం	at dusk,night fall,sunset time,sandhyasamayam,period after evening or in night,stanislav,period after night,evening, especially: dusk
అకాంథేసి	,peninsula,akanthesi
జానుఫలకము	,author
అనెలిడా	,bottom,aanelida,day
ప్లవకాలు	,plankons,political
వజ్రం	components
యుట్రిక్యులేరియా	,utrikuleria,live,lives
మరువము	,representation,rememeber,marjoram (its a small plant which gives fragrance smell),mission
హనువు	,submandibular,participants
మణికట్టు	discussions,discussion
కైమోగ్రాఫ్	,dangerous
ఎడినోమా	,swelling,file
నాసా	,dukes,princes
త్రికము	body parts,personal,trinity
దుంప	,cilagada,orthodox,radish,a root,seed,edible roots,root of plant like potato,one type of plants
ర్యాగింగ్	,love
సాలెపురుగు	butterfly,foreign,saalepurugu,external
శివుడు	,infant,sentence,bless,suggestion,proposal
జకాత్	,jakat,donate,prince,fourt tomb in islam
అలుగు	feel,,functions,function
కోబాల్	popular,,people's
మజ్జిగ	butter,early
పొదుపు	can,economical,careful management
పొద	fall,downfall
జింజిబరేసి	,last name,surname,name
దేవుడు	technical,lord,deity
ఘనపరిమాణము	,scotland
తగరము	,seen,squama,look,metel
పంజరం	meeting,boan,pegieon
బొప్పాయి	socialist
ద్వీపం	light,it is place around by water,atoms
పట్టాభిషేకం	regime, routine,regimes,pataabhisheekam
వరకట్నం	,dowery,doury,morning
గంధకము	,field
ఫాబేసి	,personnel,fabesi,fabase,staff
మహారాజు	moved,crossed over
ప్రోటిస్టా	,metallurgy,protisa
తుమ్మెద	foundation,honey bee,humble bee (insect)
కాలువ	obligations,commitments
ఉలేమా	,master in muslim religion,experts
విక్టోరియా	,able,will be able
నెమలి	greeks,peocock
కూతురు	department,deprartment,kuthuru
సూక్ష్మదర్శిని	builded,built on,based
పిల్లలు	children of,frequency
వినాయకుడు	,named,vinayaka, a hindu god,lord vinayak,leader for learn,vinyakudu,naming,to be called
పక్షి	hospital
ఆదాము	,adams,profit,the very, the most,very,aadhamu,aadamu
విబ్రియో	,image,the image
మలేరియా	,soviet,malari
ఖడ్గం	swor,weapon,station
త్రిభుజం	gender,three sides,sex
భారమితి	,thermomer=ter,exist
మోరేసి	,moriseae,shinning,part,moresi
వడదెబ్బ	heatstroke,sun stroke,the application,alleged,claims
ఆర్థ్రోపోడా	,artropoda,arthopoda,arthropada,laws
వైటేసి	,beings,vitacese,creatures
ఉపరితలం	fupper,virus,upper portion
ఆహారం	taras
బాక్టీరియా	,ukraine,bactitia
నిడేరియా	,scott,cattle
మూత్రనాళం	,urinary,testis,urinal bladder,urine way,named,abdomen,urinary bladder,small intestine,called,kidney
సైకస్	,sycus,open,sycas
అరత్ని	,texts
పచ్చకామెర్లు	wolves,juandice
ఇంగువ	,a,museums
ఆర్కిమెడిస్	,arkimedes,direction,management,arcimecis,arkimedis
కేరియోటైప్	,ctpah,cuisine,caryotpe
చిత్రమూలము	,picture,origin of picture,image root,plumbago zeylanica,leadwort,source,formal
మోనజైట్	,monazite element,take off,remove,release
మహమ్మారి	epdemic,dangerous,turning,transformation,
హృదయావరణం	,interests
ఉదరము	residents,citizens,morning
నెపెంథిస్	,sepenthis,nepenthis,black,nepenthis (one type of insect's food plant),nependhis
మోదుగ	,flower,modhuga,negation,red flower,firstly,moduga one flower,denying
రంగు	sector,production,products
ధ్వని	being
గట్టిఫెరె	,gattiofere,guttyfer,brings,gattifer flower,gattifare,guttifer,guttiferae plant,guttifera,gives
వైరస్	,drama
హోమర్	,so-called,named,called
కార్డేటా	,carteta,ability
సెలీనియం	,chemical,mechanisms,mechanism,sekenium
వేదాంగములు	,sciences auxiliary to vedas,black,iron,veda shastras,vedangas
చీపురు	,features,sweeping stick,signs
నుదురు	speak
సత్యాగ్రహం	,period start,sathyagraham,war for turth,sathyagrah,battle for truth,non violent protest,period: begining
ఈ-మెయిల్	,properties
సముద్రం	,played
ఉరుము	live
క్రోకడైలస్	,concrete,chrocodilus,type of crocodile,crocodilies (its one of the species of crocodile)
నొప్పి	today
జింక	,led,led to,jiraffee,ledi, reindeer,giraffee,cited
శని	aspect
జంతువు	anima,performed
అంబెల్లిఫెరె	,ambeliferre,umbelifaire,ambheri ferre,public,in ambellyferey family there are approxmately 300 types & 3000  defferent verities are there,ambelipher,ambelliphere,umbellifera
సకశేరుకాలు	,vertrbrates,vertebrates,vertebtates,variant
రచయిత	poet,chechnya,chechen republic
యూక్లిడ్	,be used,used
సపోటేసి	,sapotacea,format
శుక్రుడు	,sukran,hepatitis,sukrudu,shukrudu
గౌటు	,figurative,graphic, fine
లకుముకి	,ukraine,kingfishers,king fisher (bird)
అంకారా	,occupied
ఆల్చిప్ప	,its an animal lives in water,meeting,alchippalu,encounters,allchipp one type of plants,alchippa,oyster
అలోహం	,nonmetsl,non- metal,disease
వెన్నుపూస	back bone,spinalcord,throne
వ్యోమగామి	astronuat,by administrations,astronat,administration,alien,asronaut,cosmonaut,ship,astrologist,astraunaut
గురుత్వాకర్షణ	executive,magnite powwer,magnetc attraction,gravitatinal force
వెర్బినేసి	,verbinesi,ranks,rank,verbinesy,verbhinesi
లాభం	ukraine,profit, gain
పాదరక్షలు	paadarakshalu,foot wear,footwear, slippers,absolute,foodwear
తిత్తి	after,through,in
త్వరణము	narcotic
బుగ్గ	appearance,look
నది	very,nadhi,the most;the richest/the highest/the biggest
ఎండ్రకాయ	season,crab / lobster
సరీసృపాలు	,development
శతపాదులు	,centuries,crowling animals,meeting,centipede animal,cetipede
చీమ	did, became,acted,behaved,animal
ఆయత్	,operating system,group of sentences in arabbi,group of sentence in arabbi,operational system,rule,os
ఉష్ణోగ్రత	temprature,folk,folk, people's
యోని	,diary,utreus
కాలేయం	body,certifications,kaleyam,certificate,evidences
అంగిలి	,reasons,angili,base
ధనుర్వాతము	stimulation
సాంద్రత	vampire,dencity
ఉరోస్థి	urosti,being,existence
ప్లీహము	,channel
మేఘం	cloudes,production,mashroom clouds
చెమట	still
జడ	hair,animals,cattle
వ్యవసాయదారుడు	,formar,very,former,agriculturist
కాగితం	native
గాయం	gaming,injusry,injuri,hurt,game,playing
కెంపు	,bad seell,principle
సిమెంటు	,grown,grew,up
ప్లంబజినేసి	,plumbajinesi,one plant,plumbaginess,plumbago zeylanica,negative,negatively
గిట్ట	,zacharov,zaharov
