చే	by,
రంగంలో	in the field,
చైనీయులు	chinese,
మాత్రమే	particular,
కంట్రోల్	control,
ఆధ్యాత్మికత	devotional,
స్పానిష్	spanish,
అణుధార్మికత	radiation,
రష్యా	russia,
మొదటిది	first,
ప్రవేశపెట్టాడు	emerged,
సారాంశం	summary,
జరుగుతాయి	venkateswara pilgrimage place,sun moon,poojas,weddings,
ఆధిపత్యము	reign,
యాభై	fifty,
సీతా	sita,
పరిభ్రమణం	revolution,
చేయు	done,
ప్రైవేట్	private,
గ్రామంలో	in village,
మహాభారతంలో	in the mahabharat,
వర్గంటాంకు	class tank,class,
కమ్యూనిష్టులు	communists,
ఎలా	how,
ఫిల్మ్	film,
సంస్థల్లో	organizations,
చేసుకోవడం	to do,
చేస్తున్నాయి	completing,
వుంటాయి	will be there,
తిరస్కరించాడు	rejected,
బలగాలను	force,
హైదరాబాద్	hyderabad,
అతివేగంగా	with high speed,
పరిషత్	county,
సంస్కృతం	sanskrit,
షాపింగ్	shopping,
ఓటు	vote,
వొత్తిడి	stress,
అత్యవసర	very important,
గంధర్వ	gandharva,
కూడుకుని	in addition,
విమానాలు	aeroplanes,
అనేవారు	used to say,
ప్రథమ	first,
అందిన	which was received,
వ్యాసుడు	vyasa,
నమో	namo,
మిల్స్	meals,
వ్యక్తిగా	as a person,
వర్ధిల్లింది	developed,
వుయ్యాల	cradle,
అటూ	that side,
శృంగార	sex,
పర్యటన	visit,
సైజులో	in size,
కథలలో	chandamama stories,hints,earth quakes,violence,warnings,
సరిహద్దులో	borders,
అత్రి	atri (name),
కథలను	stories,
యుద్ధాలకు	battiles,
వివరించడానికి	to explain,
పోలి	similar,
చిత్రమాలిక	pictures,
సయ్యద్	syed,
వర్గంక్రైస్తవ	divisionchristian,
వెన్నెముక	spinal cord,
వివరించబడింది	is/was described,
గీత	geeta,
ఆధారముగా	based on,
ఏలూరు	eluru,
వరకు	upto,
దేవతల	godess,
భార్య	wife,
ప్లేస్	place,
ఆందోళన	worry,
గుర్తించిన	recognized,
ఏం	what,
నెలలు	months,
కడుపులో	in stamock,
పండుగగా	like a festival,
యంత్రం	machine,
వారిచే	by them,
ఊరగాయలు	pickle,
నాజీ	nazi,
దేశము	country,
మణి	diamond,
ఎగుమతి	export,
నాగార్జున	nagarjuna,
సందేశాన్ని	message,
గోవు	cow,
క్రిస్టఫర్	cristafer,
పారిశ్రామికీకరణ	industrialization,
రాజును	king,
పూజా	pray,
అత్యధిక	majority,highly,
శుభం	good,
రెండూ	two,
ఆత్మకథ	auto biography,
గదా	it,
వాయువును	gas,
కోఆపరేషన్	cooperation,
భావం	explaination,
వస్త్ర	cloth,
హాసన్	hasan,
నగరంలోని	hyderabad,city,greenfields,ward,areas,drainage,water.,
ఇక్కడి	here,
ద్వీపం	island,
గంగ	ganges,ganga,
పంచుకుంటోంది	distributing,
ఖండంలో	in the continent,
పర్వతాలలో	in the mountains,
విశ్వాసం	faith,
మంచినీటి	pure water,
భారతీయ	indian,
ఇంచుమించు	almost,
చెట్లు	trees,
జనగణన	census,
రూపొందించడానికి	to prepare,
మెయిన్	main,
ఇండెక్స్	index,
పండితుడు	expert/ pandit,
నీ	your,
ఇస్టిట్యూట్	institute,
శ్రీరాముడు	sri rama,
సమూహం	group,
నిర్మాణకళ	structural work,
తిన్నా	eaten,
నిజ	real,
ప్రాణ్యములు	proteins,
వెనుకబడిన	backward,
దాల్చి	convert,
అయ్యప్ప	ayappa,
ఇవ్వడానికి	to give,
యూరోపియన్	european,
నొప్పి	pain,
కలిగి	to have,
చేర్చారు	send,
ప్రాజెక్టులు	projects,
స్వాతంత్ర్యాన్ని	independence,
మహాసభ	great meeting,
తత్వానికి	philosophical,
వదలి	leaving,
నియంత్రణలో	in control,
ఇస్తే	to give,
బాతినా	bathina,
రసాయనం	chemistry,
వస్తున్న	coming,
తదితర	extra(more),
పరస్పర	eachother,
భూభాగంపై	country (part of earth),
వర్ణ	alphabets,
పరిమాణం	official,extreme size,secret,settled,society,changable dates,death rate,people,
కొని	buy,
గవర్నరు	governor,
పాత	old,
మనదేశం	our country,
భక్తి	devotion,
శ్రీదేవి	sridevi,
భూభాగాన్ని	land of,
పరీక్షలు	examinations,
వై	y,
బతుకమ్మ	festival bathukama,
నీటితో	with water,
మున్నగు	first,
కలిగించే	makes,
రాత్రికి	night,
వేత్త	honourable men,
పెందుర్తి	pendurti,
ప్రమాదాలు	accidents,
అవసరమయ్యే	required,
పరిణామం	result,
డాక్టర్‌	doctor,
చేసేటప్పుడు	while doing,
అయిన	is,
సముద్రంలో	in sea,
జన్మించాడు	born,
ప్రశ్నా	question,
సవరణలు	amendments,
సాయం	evening,
ఎరువుల	fertilizers,
పోటీగా	competetion,
చూపారు	to show,
తామే	they are,
యొక్క	its,
మేక	goat,
తరువాత	after,
గతంలో	past,
దీవుల	islands,
వస్తువుల	things,
పూర్వము	ancient,
పరీక్ష	exam,
ఆవకాయ	pickle,
వ్యక్తిత్వం	charecter,
విభజించి	divide,
గణాలు	group,
తారక	taraka,
గుంపుగా	groupwise,in group/ together,
సీ	c,
పరిస్థితులు	situations,
స్మిత్	smith,
గ్రీసు	greece,
చిత్త	chitta,
కవుల	poets,
విలియం	william,
మార్స్	mars,
మండేలాకు	to mandela,
అవీ	that,
మంత్రాలు	holly words,
వసంత	vernal,
పంటల	crop,
వజ్రాలు	diamonds,
మీలో	among you,
యురోపియన్	european,
భౌతికశాస్త్రం	physics,
కార్బన్	carbon,
జరిగితే	happens,
ఎద్దు	ox,
సంఖ్యలు	numbers,
ప్రోలరాజు	prola raju,
హోల్స్	holes,
ఆగ్నేయాన	south-east,
పెట్టిన	upload,
ఉండడం	existing,
కాలేజీ	college,
యూరోప్	europe,
రాతి	stone,
వృషణాలు	thumb,
మహేష్	mahesh,
తప్ప	except,
అమెరికాలోనే	in america,
కుజుడు	jupiter,
వద్దనున్న	which is with,
రొమేనియా	romania,
ఆధారపడిన	depending on,
తోడు	along with,
చీర	saree,
తల్లి	mother,
దానం	donate,
తెలుస్తోంది	knowing,
స్థాపక	tightly,
నైరుతి	south-west,
ప్రోటీన్లు	proteins,
స్వచ్ఛమైన	purity,
గుహ	cave,
తాడిపత్రి	tadipatri,
రికార్డులు	records,
ఉపయోగిస్తారు	used,
సంబందించిన	related,
దినములు	days,
పౌరుల	citizen,
మూర్తి	murthy,
ప్లస్	plus,
ఖర్చుతో	expense,
బహుముఖ	multiface,
ఎన్	n,
స్థానికంగా	localized,
గిన్నె	blackberry,
తెలిపే	indicate,
అక్షరం	letter,
బంధువులు	relatives,
నువ్వు	i,can,do you,sing,sun,earth,
కుమారి	miss,
శాసనసభలో	in the assembly,
హిస్టరీ	history,
ప్రభుత్వంలో	in government,
కులాల	casts,
సెకండరీ	secondary,
పోరాడి	fought,fight,
ఒడంబడిక	convention,
అయినప్పటికీ	even though,
పట్టణాలను	town,
మత	religion,
గోతిక్	gothic,
న్యాయం	justice,
సలహాలు	suggestions,
కంప్యూటర్లలో	in computer,
అందిస్తారు	give,
మాధ్యమం	medium,
లోకం	world,
ఫలితాలను	results,
నిర్వహించింది	did/ executee,
ఎడమ	left,
వికీలు	viki,
భారతదేశపు	india,
గీతా	bhagawad gita,
బుద్ధుని	bhudda,
సంఘాన్ని	society,
చెప్పుకోదగిన	worthy to be spoken about,
ఉక్కు	steel,
సహస్రాబ్ది	century,
రంగం	field,
హైదరాబాదు	hyderabad,
మతం	religion,
టైగర్స్	tigers,
అలలు	waves,
వరదల	floods,
చివర	last,
ఆనాటి	earlier,
సరిహద్దుల	border,
నిర్వచనం	definition,
ఇబ్రాహీం	ibrahim,
వ్యవస్థను	system,
కేరళలో	8th century,muslims,britishers ruling,opposed,
ఖరీదు	rate,
బరువు	weight,
చూడడానికి	to see,
అతడు	him,
మరో	other,
అందుకు	thats why,
సేకరణ	collect(gather),
లక్ష్మి	laxmi,
పొలం	field,
పటము	map,
సృష్టించిన	creation,
హాల్	hall,
అవకాశాన్ని	opportunity,
ఆజాద్	aazad,
పొగ	gas,
చేయటంతో	to do,
మద్య	middle,
గ్రంథం	book,
స్థిరమైన	strong,
హల్లులు	hallulu,
ఇదో	this one,this,
గడిలో	box,
తప్పదు	neccessary,
కోరిక	desire,
జైన	jain,
పూ	bc,
రాజాం	rajaam,
పాలెం	village,
స్వంతమైన	own,
ప్రచురించాడు	authored,
క్షేత్ర	territory,
సామెతలు	proverbs,
ఓటమి	loss,
వ్యవహరిస్తున్నారు	surveing,
స్థాయిని	level,
పల్లవుల	pallavas,
వెలుగులు	lights,
కాఫీ	coffee,
ఆరంభమైంది	started,
బౌద్ధమత	budhist religion,
మహబూబ్	mahabub,
రాయదుర్గం	rayadurgam,
ఆరంభ	starting,
విధాన	system,
నివాసాలు	houses,
సిద్ధాంతాలలో	tellings,
బోధనల	teachings,
సూర్యుడి	of sun,
సుల్తాను	sultan,
వాణి	voice,
ప్రభుత్వపు	government,
మండేలా	mandela,
వర్గంఆంధ్ర	andhra region,
ఆగస్టు	august,
ప్రముఖుల	celebrities,
వనవాస	of wild life,
విఫలమైంది	failed,
వారిగా	wise,
చాలా	many,
ప్రయాణం	journey,
బూడిద	ash,
విశ్వము	universe,
కుమారుడైన	son only,
విలువలను	values,
దాసరి	dasari,
శనీశ్వర	saneeswara,
తోడ్పడుతుంది	useful,
డెల్టా	delta,
రచనల్లో	in writings,
అనుబంధంగా	affectionate,
పంపింది	sended,
లాభం	profit,
ఖగోళ	geographical,
సమగ్ర	community,
ప్రెంచి	french,
వూరు	village,
మాస్టర్	master,
స్టీన్	siein,
అన్నదమ్ములు	brothers,
నిర్ణయాలను	decisions,
గడిచింది	over,
పెనుగొండ	penukonda,
పూర్వపు	of ancient,
ఉన్నాయో	are there,
తేమగా	pleasant,
నిపుణుల	efficient,
సూచించారు	guidelines,
భూమిని	land,
అర్చన	worship,
చుక్కలు	stars,
ఇలియానా	iliyana,
మొత్తానికి	total,
రాహుల్	rahul,
త్రిపుర	tripura,
ముఖ్యులు	very important person,
థాయిలాండ్	thailand,
ప్రాణ	of life,
శాతకర్ణి	shathakarni,
నిర్వహిస్తారు	organises,
జరుగుతూ	happening,
నారాయణరావు	narayana rao,
దర్శనానికి	sight (to see),
గణితం	mathematics,
భయం	afraid,
విశ్వవిద్యాలయ	of university,
పురాతత్వ	ancient,
వస్త్రధారణ	dressing,
షేర్	share,
వాటితో	with those,
ప్రవర్తన	behaviou,
మార్క్స్	marks,
వార	weekly,
ఏడు	seven,
ప్రశ్నలకు	questions,
రోజు	day,
రాజధాని	capital,
జిల్లాలను	districts,
పతాక	head lines,
పరికరాలు	machines,
కానుకగా	as a gift,
గూడెం	rural,
వాడడం	utilize,
జామ్	jam,
విభాగాలు	branches,
వర్గంమతములు	class religions,
వున్న	is their,
సంఖ్యను	counting,number,
తరం	generations,
సెక్స్	sex,
రాజకీయ	political,
అనికూడా	also,
ఇలాగే	like this,
సమాంతరంగా	parallel,
ఉన్నట్లే	as usual,
దేశీయ	nationwide,
మ్యూజిక్	music,
ఉన్నట్లు	is there,
క్రమం	order,
కార్యక్రమాల	of programs,
స్థితి	position,
పార్క్	park,
కంచు	metal,
సాక్షి	sakshi,
నేమ్‌	name,
నిశ్చలంగా	evergreen(forever),
విభజించారు	divide,
లక్ష్మణులను	laxman,
ఎత్తున	high level,
వ్యాపించినది	spread,
దూరములో	far,
పురపాలక	municipal,
ఫలితాలు	results,
తీసిన	pick,
తగు	necessary,
సిద్ధాంతాలు	principles,
కార్పస్	carpus,
సహకారం	helping,
చంద్రుని	moon's,
తోక	tail,
సున్నీ	sunni,
సింహము	lion,
కోరి	want,
క్రీస్తుపూర్వం	before christ,
వల్లనే	because of,
వెయ్యి	thousand,
చట్టపరంగా	legal,
సమయ	time,
పట్టణము	city,
ఆంజనేయ	anjaneya,
పదిహేను	fifteen,
న్యూక్లియస్	nucleus,
బలగాలు	soldiers,
కాకుండా	without,
పదార్ధాలను	materials,
శతాబ్దములో	in the century,
వరంగల్లు	warangal,
పెట్టుబడిదారీ	investment,
పరిణామ	evolutionary,change,
చేరుకుంది	reached,
వాల్టర్	walter,
ఏడుగురు	seven members,
ఉపన్యాసాలు	lectures,
చెప్పాలంటే	to say,
భారతంలో	india,
భూకంపాలు	earthquake,
రైళ్ళు	train,
కోటను	fort,
నటించి	acting,
చరిత్రలోనే	iin the history,
జననం	birth,
చాళుక్య	chalukya,
వారణాసి	varanasi,
యాదగిరి	yadigiri,
ఫైల్స్	files,
బ్రహ్మము	lord brahma,
సేపు	for some period of time,
దండ	garland,
సేవకు	service,
తీరము	shore,
వర్ధిల్లిన	vardhillina,
చల్లని	cool,
రుణ	negative,
ఎండు	dry,
పల్లె	village,
విశాలాంధ్ర	vishalaandhra,
మట్టితో	with sand,
అధికారుల	supreme,
ప్రతిరోజు	everyday,
పాలనలో	reign(ruled),
పల్లపు	up-down,
కృష్ణా	krishna,
మానవులు	human beings,
గుర్తుగా	in memory of,
వడ్రంగి	carpenter,
పూజకు	worship,
ద్రవ	liquid,
పాళీ	pali,
బ్రాహ్మణులు	brahmins,
కర్త	creator,
లే	similar,
లు	plural,
కర్మ	fate,
సిటి	city,
తక్కువగా	less,
ఒకటి	one,
పేజీల	of pages,
చేయాలి	must do,
వారం	week,
చర్యలను	actions,
భారత	india,
వారి	their,
యానిమేషన్‌ను	animation,
ఇచ్చాడు	gave,
పెరుగుదల	growth,
పోవచ్చు	may go,
చెవులు	ears,
సుబ్రహ్మణ్యం	subramanyam,
స్థాయిలో	level of,
దేశమంతా	whole nation,
బ్రతుకు	live,
గ్రామ	village,
రెడ్డి	reddy,
సైబీరియన్	siberian,
నాటకాల	dramas,
అత్యాధునిక	latest,
అంతర్యుద్ధం	cold war,
రాసి	write,
నాగర్	nagar,
శీర్షిక	year,
కంచి	kanchi,
కల్చర్	culture,
సర్వే	survey,
వంటివి	so on/ like,
సహాయంగా	helping,
ప్రార్ధనా	prayer,
వెలసిన	started,
మిత్ర	jointly,
లాల్	lal,
స్వరూప	svaropa,
స్థాపించారు	established,
కోర్టు	court,
కోళ్ళు	hens,
వ్యుత్పత్తి	development,
ఉన్నందున	unnanduna,
త్వరగా	quickly,
శ్లోకం	slokas,
పెంచే	increase,
జనం	people,
శీతాకాలంలో	in winter,
ఎముక	bone,
విజయాన్ని	victory,
వ్యాసంలో	summary,
తినడం	eating,
>	greterthan,
ధైర్యంగా	with courage,
పర్యాటకుల	visitor's,
రావడానికి	coming,
వర్షం	rain,
చాలు	enough,
యస్	s,
మారడం	change,
నిలువు	horizontal,
షరతు	condition,
ఇంకో	another,
బొమ్మ	picture,
ఇవెంట్	event,
పరిశీలించి	audit,
చరిత్రలో	history,
న్యూస్	news,
చిత్రంలో	in the film,
విస్తృతమైన	strong,
ట్రేడ్	trade,
ఎన్నుకోబడతారు	president,vice-president,five years,rajya sabha members,
జార్జియా	georgia,
మహానది	river,
వైద్యశాస్త్రం	medical science,
ప్రమాణాలు	promises,
మొగుడు	husband,
మతాన్ని	religion,
గద్వాల	gadwala,
గోదావరి	godavari,
నందు	in,
వర్గంఆసియా	division asia,
సంయుక్త	united,
వారసత్వానికి	inherit,
ప్రోగ్రామును	programs,
కుంభ	aquarius,
రచయిత	author,
వసతి	accomodation,
మహానంది	maha nandi,
వుండేది	is there,
మీ	you,
వేలాది	thousands,
ప్రార్థనలు	prayers,
లింగాల	lingala,
టాప్	top,
పనిచేసే	working,
నగరపాలక	muncipality,
సమాధుల	tombs,
పాల్గొంటారు	to participate,
తేడా	difference,
శుభ	good,
వేసవి	summer,
హోటల్	hotel,
తెలుసుకోవచ్చు	know,
సాహిత్యము	literature,
హిందూమత	hindu religion,
విస్తృత	expand,
థియేటర్	theatre,
శారదా	sharada,
మహాయానం	mahayana,
లారీ	lorry,
పర్యాటకులను	to visitors,
నమ్మకాలు	hopes,
పెద్దలకు	adault,
జంట	couple,
తమిళుల	of tamilians,
విషయాలపై	on topic,
పెరిగిన	increased,
చర్మము	skin,
పెడతారు	will keep,keep,
డయాబెటిస్	diabetics,
జయించాడు	to won,
రెండవది	second,
కోదండరామి	kodandaram,
అమల్లోకి	came into force,
కేంద్రక	main,
అనడం	telling,
విప్లవాత్మకమైన	revolutionary,
బైబిలు	bible,
వనపర్తి	wanaparti,
కేంద్రం	central,
టెక్స్ట్	text,
ఎదురుగా	infront,
అనంతమైన	infinite,
ఉద్యమము	agitation,
పాలనను	the ruling,
చూడలేదు	did not see,
పాఠకులు	readers,
నాయకత్వంలోని	in the leadership,in leader,
చోళుల	of cholas,
నిధులు	banks,
యూదు	jeewus,
స్టేషను	station,
విద్యలు	skilled knowledge,
పనిచేస్తున్న	working,
సమ	equal,
ఉంచుతుంది	haved,
పరికరాల	apparatus,
శ్రేయస్సు	welwishing,
జార్జి	george,
ఇప్పటికే	for now,
సత్యాన్ని	truth,
ఫిలిప్	philip,
గానం	sung/ sang,
నాల్గవ	fourth,
చక్రాన్ని	lifetime,
వాడుతారు	use,
భూమి	earth,
ఋగ్వేదము	rughveda,
తన	his/her,
రోజులలో	days,
రాజకీయాల్లో	in politics,
కేంద్రీకృతమై	focussed/ centered/ concentrated,
దీనితో	with this,
తల	head,
జెనీవా	geneva,
లావోస్	laos,
సాహస	brave,
అడ్డంగా	obstracle,
చెప్పి	convince,said/ saying this,
అష్టాదశ	asthadasha,
శైలిని	script,
తొందరగా	fastly,
మందిరము	temple,
దేశములో	in country,
ఆత్మను	sole,
కాలి	leg,
స్థలాలు	places,
ప్లాంట్	flant,
దూరంలో	sofar,
ప్రజలందరికీ	to all the people,
పరికరాలను	operators,
రేవు	port,
సాలూరు	saluru,
ఉద్యమాలు	fights,
సత్యం	truth,
చదవడానికి	to read,
క్రితం	ago,
పర్చేసింగ్	purchasing,
నిజమైన	truly,
కవిగా	as a writer,
రూపం	form,
ఉత్తరము	post,
హాకింగ్	hawking,
ముఖ్యమంత్రులు	chief minister,
బాలకృష్ణ	balakrishna,
సదా	everytime,
శంకరుని	lord shiva's,
సహజం	society,
లక్ష్యాలు	targets,
సంపద	wealth,
జాతికి	species,
వినోదం	entertaiment,
మనకి	ours,we,
అనంతం	infinite,
కూడిన	mixed,
థియేటర్లు	theatres,
అధీనంలో	under the control of,
మహిళలకు	ladies,women,
సంస్థానం	year,
విపత్తులు	calamities,
వజ్రం	diamond,
పుత్రుడు	son,
నిలయం	area,
ఉల్లి	onion,
నాట్యం	dance,
మాస	season,month,
విండోస్	windows,
మొదలగువారు	etc,
గ్రహస్థితి	fate,
సంవత్సరాలుగా	years,
చరిత్రను	history,
పాండవులు	pandavas,
జీవితం	life,
మౌలికమైన	important,
పట్టింది	took,
ఈతని	his,
జరిపారు	done,
గెలీలియో	galileo,
పౌర్ణమి	full moon,
లాస్	los,
ప్రదర్శనలు	performance,
సమాధానాలు	answers,
శుద్దోధనుడు	shuddodanudu,
బ్రహ్మ	brahmma,
చేతులు	hands,
ప్రదేశము	place,
ప్రాంతాలలోని	in regions,
వేగంతో	with speed of,
టంగుటూరి	tanguturi,
కళా	art,
పేరుని	name,
ప్రపంచీకరణను	globalization,
బారిన	too much,
నియమిస్తాడు	will appoint,
కాల్షియం	calcium,
రచనలు	scriptures,
పనిచేసి	worked,
వహించారు	taken,
కార్లు	cars,
చిత్రాల	of cinemas,
సరిగా	correct,
మ్యూజియమ్	museum,
దేవాలయానికి	to temple,
దృశ్యాలు	seens,
అంశాలపై	on this basis,
కొన్నిసార్లు	sometimes,
విద్యా	education,
హైదర్	hyder,
నదీ	river,
చక్ర	wheel,
వడ్డాది	vaddadi,
సేనల	army,
గణనీయంగా	drastically,
నుంచీ	from,
సంగ్రహం	script,
తొంభై	ninety,
వృత్తిగా	occupation,
సర్వసాధారణం	asusual,
మృతి	death,
గ్రహించిన	awareness,
ఎదుర్కొన్నాడు	faced,
గ్రహీత	reciepient,
రజాకార్ల	of razakars,
విశ్వవిద్యాలయానికి	to university,
పట్టణం	city,
వాటిపై	on them,
గురువులు	teachers,
స్వర్గ	heaven,
ఉత్తరాంచల్	uttaranchal,
క్యాప్టెన్	captain,
ఆచారాలు	religious practices,
హిందీలో	in hindi,
అధిపతి	head,
సందేశాలు	messages,
నిక్షిప్తమై	hidden,
స్వర్ణ	golden,
ఊపిరి	breathe,
కృష్ణదేవరాయలు	krishnadevaraya,
చిన్నది	small,
అదుపు	control,
ఒకరిని	each,
జ్ఞానపీఠ	gnanapeeth,
తెలియని	unknown,
నర్సింగ్	nursing,
పంతులు	master,
దర్శనీయ	tourist places,
శాస్త్రంలో	in science,
రాశులు	astrology,
వాహనాలు	vehicles,
మద్రాసులో	in madras,
చట్ట	law,
అర్ధం	internet,slum areas,hindu,muslim,lord shiva,
వుంది	is there,
నాడీ	nerve,river,
పండుగను	festival,
కాకి	crow,
పక్కన	beside,
కంప్యూటర్ల	computer,
అనువైన	wish,
కర్ణాటకలో	in karnataka,
వహిస్తుంది	bears,
ప్రకటించాడు	declared,
అక్షరమాల	alphabets,
ఆలంపూర్	alampur,
టిసినో	ticino,
వనవాసం	live in wilderness,
రామ	rama,
సంస్కృతికి	culture,
రొజు	daily,
కోలీవుడ్	kollywood,
ఆటంకం	objection,
నీటిలో	in water,
ఏమిటో	what,
మొట్టమొదటిసారిగా	initially,
పుస్తకాల	books,
చాణక్య	chanakya (name),
పాఠశాలలో	in school,
సంతోషం	happiness,
వాట్	vat,
మండలము	mandal,
సైన్యంలో	in the army,
వల్ల	because of,
వెలువడే	relese,
భారతీయుల	indians,
మరొకటి	another,
తాళం	lock,
ఇటువంటి	like this,
చెన్నై	chennai,
క్షిపణి	missile,
దీపం	lamp,
కాపాడే	protecting,
వైరస్‌ను	virus,
ధర	rate,
వ్యాధులలో	in diseases,
అలా	in that way,
నిర్వహణకు	to execute,
ఇస్తుంది	gives/will give,
యూనియన్	union,
కాకినాడ	kakinada,
ఇచ్చింది	given,
కరువు	drought,
ప్రియమైన	dear,
