గద్వాల	gadwala,
ఫలితాలు	results,
వ్యాపించినది	spread,
రచనలు	scriptures,
ఉండడం	existing,
మాత్రమే	particular,
అర్చన	worship,
గంధర్వ	gandharva,
పాఠకులు	readers,
అణుధార్మికత	radiation,
దండ	garland,
తప్ప	except,
పనిచేస్తున్న	working,
సమ	equal,
ఉంచుతుంది	haved,
మణి	diamond,
జరుగుతాయి	venkateswara pilgrimage place,sun moon,poojas,weddings,
హోటల్	hotel,
క్రీస్తుపూర్వం	before christ,
గ్రామ	village,
యాభై	fifty,
గోవు	cow,
సీతా	sita,
చేయు	done,
చీర	saree,
గణాలు	group,
సమయ	time,
స్థాపక	tightly,
ప్రోటీన్లు	proteins,
చేస్తున్నాయి	completing,
వరంగల్లు	warangal,
రికార్డులు	records,
ఉపయోగిస్తారు	used,
హైదరాబాద్	hyderabad,
దినములు	days,
పరిషత్	county,
షాపింగ్	shopping,
ఉపన్యాసాలు	lectures,
సరిహద్దుల	border,
తెలుస్తోంది	knowing,
భారతంలో	india,
సంస్థానం	year,
జార్జియా	georgia,
సంఖ్యలు	numbers,
నమో	namo,
అవీ	that,
మిల్స్	meals,
దేశములో	in country,
ప్రభుత్వంలో	in government,
నటించి	acting,
అటూ	that side,
చరిత్రలోనే	iin the history,
పోరాడి	fight,
శృంగార	sex,
యాదగిరి	yadigiri,
ఆనాటి	earlier,
పట్టణాలను	town,
కథలలో	chandamama stories,hints,earth quakes,violence,warnings,
మత	religion,
జననం	birth,
సలహాలు	suggestions,
చాళుక్య	chalukya,
కోటను	fort,
చట్టపరంగా	legal,
ద్రవ	liquid,
చిత్రమాలిక	pictures,
ఆవకాయ	pickle,
ఎడమ	left,
వెన్నెముక	spinal cord,
సేవకు	service,
వరకు	upto,
సెకండరీ	secondary,
గీతా	bhagawad gita,
బుద్ధుని	bhudda,
బోధనల	teachings,
వెలసిన	started,
సంపద	wealth,
టైగర్స్	tigers,
ఆందోళన	worry,
వినోదం	entertaiment,
గుర్తించిన	recognized,
కృష్ణా	krishna,
నిర్వచనం	definition,
వారిచే	by them,
కేరళలో	8th century,muslims,britishers ruling,opposed,
మహిళలకు	women,
అధికారుల	supreme,
పూజకు	worship,
విపత్తులు	calamities,
దేవాలయానికి	to temple,
అర్ధం	internet,slum areas,hindu,muslim,lord shiva,
చాణక్య	chanakya (name),
కర్త	creator,
ఊరగాయలు	pickle,
దీపం	lamp,
మాస	season,
కర్మ	fate,
అవకాశాన్ని	opportunity,
కోఆపరేషన్	cooperation,
మొదలగువారు	etc,
చేయటంతో	to do,
రాజును	king,
నగరంలోని	hyderabad,city,greenfields,ward,areas,drainage,water.,
కోళ్ళు	hens,
హల్లులు	hallulu,
అత్యధిక	majority,
వాడుతారు	use,
ఇదో	this,
వహించారు	taken,
తప్పదు	neccessary,
తేడా	difference,
జైన	jain,
ఆచారాలు	religious practices,
ప్రదర్శనలు	performance,
ఇక్కడి	here,
సమాధానాలు	answers,
బ్రహ్మ	brahmma,
రెడ్డి	reddy,
పంచుకుంటోంది	distributing,
వ్యవహరిస్తున్నారు	surveing,
స్థాయిని	level,
వృషణాలు	thumb,
భారతీయుల	indians,
మహబూబ్	mahabub,
శీర్షిక	year,
కంచి	kanchi,
ఆరంభ	starting,
ఆధారపడిన	depending on,
నివాసాలు	houses,
తొందరగా	fastly,
సర్వే	survey,
మాధ్యమం	medium,
సిద్ధాంతాలలో	tellings,
సాలూరు	saluru,
సహాయంగా	helping,
జనం	people,
తెలుసుకోవచ్చు	know,
లాల్	lal,
మ్యూజియమ్	museum,
సృష్టించిన	creation,
నువ్వు	i,can,do you,sing,sun,earth,
స్థిరమైన	strong,
ప్రభుత్వపు	government,
సమూహం	group,
రాజాం	rajaam,
పెంచే	increase,
ప్రముఖుల	celebrities,
నిర్మాణకళ	structural work,
ఆగస్టు	august,
విశ్వము	universe,
పట్టణం	city,
హోల్స్	holes,
ధైర్యంగా	with courage,
నాడీ	nerve,
వర్షం	rain,
అందుకు	thats why,
సర్వసాధారణం	asusual,
ప్రెంచి	french,
ఇంకో	another,
మనకి	we,
బొమ్మ	picture,
వడ్డాది	vaddadi,
వస్తున్న	coming,
గురువులు	teachers,
భూభాగంపై	country (part of earth),
పెనుగొండ	penukonda,
పరిమాణం	official,extreme size,secret,settled,society,changable dates,death rate,people,
చెప్పాలంటే	to say,
అందిన	which was received,
తరువాత	after,
గవర్నరు	governor,
స్వర్ణ	golden,
చుక్కలు	stars,
ట్రేడ్	trade,
చిన్నది	small,
మనదేశం	our country,
ఎన్నుకోబడతారు	president,vice-president,five years,rajya sabha members,
కాపాడే	protecting,
భూభాగాన్ని	land of,
మహానది	river,
నీటితో	with water,
మద్రాసులో	in madras,
నందు	in,
వర్ణ	alphabets,
పండుగను	festival,
కాకి	crow,
డెల్టా	delta,
కంప్యూటర్ల	computer,
ప్రవర్తన	behaviou,
వసతి	accomodation,
మహానంది	maha nandi,
మీ	you,
లింగాల	lingala,
సవరణలు	amendments,
అక్షరమాల	alphabets,
నగరపాలక	muncipality,
పెడతారు	keep,
ఏడు	seven,
సంస్కృతికి	culture,
యొక్క	its,
చక్రాన్ని	lifetime,
జిల్లాలను	districts,
ఏమిటో	what,
పాఠశాలలో	in school,
జామ్	jam,
సంతోషం	happiness,
భారతదేశపు	india,
సాయం	evening,
తారక	taraka,
వల్ల	because of,
సంఖ్యను	number,
పరిస్థితులు	situations,
రాజకీయ	political,
స్వంతమైన	own,
కవుల	poets,
విద్యా	education,
ద్వీపం	island,
పంపింది	sended,
క్షిపణి	missile,
వసంత	vernal,
నియంత్రణలో	in control,
దీనితో	with this,
మీలో	among you,
యురోపియన్	european,
భౌతికశాస్త్రం	physics,
అలా	in that way,
అనడం	telling,
ప్లాంట్	flant,
నేమ్‌	name,
కేంద్రం	central,
భూమిని	land,
