వెర్బినేసి	verbenaceae
ఘనపరిమాణము	volume
చక్కెర	sugar
నిడేరియా	cnidaria
ప్లీహము	spleen
సముద్రం	sea
తగరము	tin
సూక్ష్మదర్శిని	microscope
ఖడ్గం	sword
ఢాకా	dhaka
తుమ్మెద	bumblebee
సిలికాన్	silicon
కేరియోటైప్	karyotype
గంధకము	sulfur
గురుడు	jupiter
ఆర్కిమెడిస్	archimedes
త్రిభుజం	triangle
వడదెబ్బ	hyperthermia
పంజరం	birdcage
శాసనం	epigraphy
ప్లవకాలు	plankton
శతపాదులు	centipede
ఆల్చిప్ప	bivalvia
సత్యాగ్రహం	satyagraha
శివుడు	shiva
లాభం	profit
ఫాబేసి	fabaceae
సిమెంటు	cement
పొదుపు	frugality
జింజిబరేసి	zingiberaceae
లకుముకి	kingfisher
ధమని	artery
జైగోమైకోటా	zygomycota
బాక్టీరియా	bacteria
పాదరక్షలు	footwear
ధ్వని	sound
నీడ	shadow
వర్గీకరణ	classification
ఎండ్రకాయ	lobster
ఆర్థ్రోపోడా	arthropod
అలుగు	pangolin
మహారాజు	king
రచయిత	writer
హాలోవీన్	halloween
ఉరోస్థి	sternum
సహస్రపాదులు	millipede
మంజిష్ఠ	rubia
కీలు	joint
వేప	neem
గచ్చ	caesalpinia
చతుర్భుజి	quadrilateral
సాలెపురుగు	spider
సాంద్రత	density
ఎన్నికలు	election
విద్యుత్తు	electricity
యూక్లిడ్	euclid
చీమ	ant
ఎడినోమా	adenoma
శని	saturn
సహనం	patience
ఐపాడ్	ipod
తిత్తి	cyst
చిత్రమూలము	plumbago
సరీసృపాలు	reptile
వైటేసి	vitaceae
గుహ	cave
వజ్రం	diamond
సపోటేసి	sapotaceae
మహమ్మారి	epidemic
జీర్ణకోశం	stomach
సెలీనియం	selenium
వ్యవసాయదారుడు	farmer
ఆదాము	adam
గట్టిఫెరె	clusiaceae
మలేరియా	malaria
ట్రకోమా	trachoma
సపోటా	sapodilla
పట్టాభిషేకం	coronation
నది	river
ద్వీపం	island
గుండెదడ	palpitation
పచ్చకామెర్లు	jaundice
ఉపనిషత్తు	upanishads
పేను	louse
కెంపు	ruby
అకాంథేసి	acanthaceae
బెరడు	bark
ఇంగువ	asafoetida
విక్టోరియా	victoria
అరత్ని	ulna
మేఘం	cloud
ఆహారం	food
చెమట	perspiration
క్లోమము	pancreas
వెన్నుపూస	vertebra
త్రికము	sacrum
వ్యోమగామి	astronaut
ఉపరితలం	surface
అంబెల్లిఫెరె	apiaceae
జంతువు	animal
భారమితి	barometer
యుట్రిక్యులేరియా	utricularia
త్రిమూర్తులు	trimurti
కాలేయం	liver
నెపెంథిస్	nepenthes
వేదాంగములు	vedanga
బుగ్గ	cheek
బాణం	arrow
బొప్పాయి	papaya
విబ్రియో	vibrio
బల్లకట్టు	raft
జింక	antelope
వ్యాధి	disease
ఉష్ణోగ్రత	temperature
ముఖం	face
సైకస్	cycas
దూరదృష్టి	hyperopia
శిలాజాలు	fossil
గౌటు	arthritis
వినాయకుడు	ganesha
దుంప	tuber
మోదుగ	butea
తల	head
హైడ్రోజన్	hydrogen
సంధ్యాసమయం	twilight
హెరాక్లిటస్	heraclitus
అమరాంథేసి	amaranthaceae
పడమర	west
భూకంపం	earthquake
అనెలిడా	annelid
ఎయిడ్స్	aids
నాసా	nasa
కాలువ	canal
కాగితం	paper
ఆల్డిహైడు	aldehyde
ఉరుము	thunder
పన్ను	tooth
నుదురు	forehead
రూబియేసి	rubiaceae
పిరమిడ్	pyramid
జకాత్	zakat
వరకట్నం	dowry
సంచి	bag
చీపురు	broom
గురుత్వాకర్షణ	gravitation
పొద	shrub
వైరస్	virus
అనుత్రికము	coccyx
డ్రోసిరా	drosera
విశ్రాంతి	leisure
కైమోగ్రాఫ్	kymograph
నొప్పి	pain
జడ	braid
దేవుడు	god
ప్లాటీహెల్మింథిస్	flatworm
సిద్ధాంతము	theory
యోని	vagina
పక్షి	bird
కపాలం	skull
క్రోకడైలస్	crocodylus
డైవర్టిక్యులైటిస్	diverticulosis
నెమలి	peafowl
త్వరణము	acceleration
ధనుర్వాతము	tetanus
రూటేసి	rutaceae
చొక్కా	shirt
అంకారా	ankara
కోబాల్	cobol
వివృతబీజాలు	gymnosperm
లామియేసి	lamiaceae
మోనజైట్	monazite
ప్లంబజినేసి	plumbaginaceae
అగ్గిపుల్ల	match
గాబ్రో	gabbro
శుక్రుడు	venus
కార్డేటా	chordate
గిట్ట	hoof
హనువు	mandible
హోమర్	homer
కూతురు	daughter
ఆకలి	hunger
శకునం	harbinger
సీసియం	caesium
చిట్టెలుక	mouse
మూత్రనాళం	ureter
ఆయత్	ayah
స్కాండియం	scandium
సెంటీమీటరు	centimetre
రంగు	color
అగ్రచర్వణకాలు	premolar
ఉదరము	abdomen
ర్యాగింగ్	ragging
కివి	kiwi
ప్రోటిస్టా	protist
జానుఫలకము	patella
ఉలేమా	ulema
మణికట్టు	wrist
అంగిలి	palate
మొలస్కా	mollusca
సకశేరుకాలు	vertebrate
తులాదండము	lever
అలోహం	nonmetal
గరిక	cynodon
గాయం	injury
మూగతనం	stupidity
మూసేసి	musaceae
మోరేసి	moraceae
తొక్కిసలాట	stampede
మజ్జిగ	buttermilk
ఈ-మెయిల్	e-mail
పిచ్చుక	sparrow
హృదయావరణం	pericardium
మరువము	marjoram
పిల్లలు	child
