утрау	island
диңгез	sea
лавразия	laurasia
кошлар	bird
термодинамика	thermodynamics
бакы	baku
фән	science
суматра	sumatra
драматургия	dramaturgy
умырткалылар	vertebrate
электроскоп	electroscope
kanton	canton
фонетика	phonetics
гомер	homer
каракалпаклар	karakalpaks
